@model Blog.Application.ViewModels.ForgottenPasswordModel

@{
    ViewData["Title"] = "Forgotten Password";
}

        <h2>Forgotten Password</h2>
        <hr />
        <form asp-action="ForgottenPassword" method="post">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Send</button>
            </div>
        </form>